# Webserver
APP_IMAGE=ghcr.io/astrostilist/backend:main
ADMIN_TOKEN=__CHANGEME_ADMIN_TOKEN__
CADDY_LETSENCRYPT_EMAIL=email@for.letsencrypt
CADDY_DOMAIN_NAME=domain.for.letsencrypt
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Cache
MEMCACHED_HOST=memcached:11211

# Trace
JAEGER_ENDPOINT=http://localhost:14268/api/traces
JAEGER_SERVICE_NAME=go-api-backend

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=__CHANGEME__
POSTGRES_DB=astrobackend

# Application database connection settings
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=__CHANGEME__
DB_NAME=astrobackend
DB_SSL_MODE=disable

DB_MAX_CONNS=50
DB_MIN_CONNS=20
DB_MAX_CONN_LIFETIME=1h
DB_MAX_CONN_IDLE_TIME=30m
DB_HEALTH_CHECK_PERIOD=1m


# NATS Configuration
NATS_HOST=nats
NATS_PORT=4222
NATS_CLUSTER_ID=test-cluster
NATS_CLIENT_ID=astro-backend
